<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lyy.hp.mapper.PictureMapper">
    <insert id="insertPicture" parameterType="cn.lyy.hp.bean.Data">
        INSERT INTO pictures (pic_name, pic_url, update_time)
        VALUES (#{pic_name}, #{pic_url}, #{update_time})
    </insert>


    <insert id="insertData" parameterType="cn.lyy.hp.bean.Data">
        INSERT INTO datas (pic_name, pic_url, update_time)
        VALUES (#{pic_name}, #{pic_url}, #{update_time})
    </insert>

    <insert id="insertT1">
        INSERT INTO t1 (num, time)
        VALUES (#{t1}, #{get_time})
    </insert>


    <insert id="insertHumidity1">
        INSERT INTO humidity (num, time)
        VALUES (#{humidity1}, #{get_time})
    </insert>


    <insert id="insertPressure1">
        INSERT INTO pressure (num, time)
        VALUES (#{pressure1}, #{get_time})
    </insert>

    <insert id="insertRainfall">
        INSERT INTO rainfall (num, time)
        VALUES (#{rainfall}, #{get_time})
    </insert>

    <insert id="insertA1">
        INSERT INTO a1 (num, time)
        VALUES (#{a1}, #{get_time})
    </insert>

    <insert id="insertStressy">
        INSERT INTO stress (num, time)
        VALUES (#{stressy}, #{get_time})
    </insert>

</mapper>